body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
h1 {
    color: #EA4F4F;
}
.container {
    margin-top: 50px;
}
#btn-click {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}